@font-face {
    font-family: 'Literaturnaya';
    src: url('/fonts/Literaturnaya.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Literaturnaya', sans-serif;
}